<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>Condição do tempo em <i>{{ condicaoDoTempo.cidade }}</i> não foi encontrada</h1>
<br>

<h3>Buscar outra cidade</h3>
<form method="GET" action="/condicaoDoTempo">
	<p>Cidade: <input type="text" name="cidade" value=""/></p>
	</p>
	<button type="submit">Buscar</button>
</form>
</body>
</html>