<html>
<head>
  <meta charset="UTF-8">
</head>
<body>

<h1>Tempo hoje em {{ condicaoDoTempo.cidade }} - {{ condicaoDoTempo.pais }}</h1>
<h2>{{ condicaoDoTempo.condicao_geral }}</h2>
<div class="temperatura">
<h3>Temperatura: {{ condicaoDoTempo.temperatura_atual }}&#8451</h3>
</div>
<div class="vento">
<h3>Vento: {{ condicaoDoTempo.velocidade_do_vento }} km/h ({{ condicaoDoTempo.direcao_do_vento }})</h3> 
</div>


<br>

<h3>Buscar outra cidade</h3>
<form method="GET" action="/condicaoDoTempo">
	<p>Cidade: <input type="text" name="cidade" value=""/></p>
	</p>
	<button type="submit">Buscar</button>
</form>
</body>
</html>