<html>
<body>
<h1><a href="/pessoas/{{ pessoa.obter_identificador() }}/contatos">Contato</a> de <a href="/pessoas/{{ pessoa.obter_identificador() }}">{{ pessoa.obter_nome() }}</a></h1>

<form method="POST" action="/pessoas/{{ pessoa.obter_identificador() }}/contatos/{{ contato.obter_identificador() }}?_method=put">
	<p>Descrição: <input type="text" name="descricao" value="{{ contato.obter_descricao() }}"/></p>
	{% if erros and erros['descricao'] %}
	Preenchimento obrigatório
	{% endif %}
	<p>Valor: <input type="text" name="valor" value="{{contato.obter_valor()}}"/>
	{% if erros and erros['valor'] %}
	Preenchimento obrigatório
	{% endif %}
	</p>
	<button type="submit">Atualizar</button>
</form>
<form method="POST" action="/pessoas/{{ pessoa.obter_identificador() }}/contatos/{{ contato.obter_identificador() }}?_method=delete">
<button type="submit">Remover</button>
</form>
</body>
</html>