<html>
<body>
<h1><a href="/pessoas/{{ pessoa.obter_identificador() }}/contatos">Contato</a> de <a href="/pessoas/{{ pessoa.obter_identificador() }}">{{ pessoa.obter_nome() }}</a></h1>

<p>Contato removido</p>
</body>
</html>