<html>
<body>
<h1>Contatos de <a href="/pessoas/{{ pessoa.obter_identificador() }}">{{ pessoa.obter_nome() }}</a></h1>
<ol start="0">
{% for contato in contatos %}
	{% if contato.obter_identificador() >= 0 %}
	<li><a href="/pessoas/{{ pessoa.obter_identificador() }}/contatos/{{contato.obter_identificador()}}">{{ contato.obter_descricao() }}: {{ contato.obter_valor() }}</a></li>
	{% endif %}
{% endfor %}
</ol>

<h2>Novo contato:</h2>
<form method="POST" action="/pessoas/{{ pessoa.obter_identificador() }}/contatos">
	<p>Descrição: <input type="text" name="descricao" {% if formulario and formulario['descricao'] %}value="{{formulario['descricao']}}"{% endif %}/></p>
	{% if erros and erros['descricao'] %}
	Preenchimento obrigatório
	{% endif %}
	<p>Valor: <input type="text" name="valor" {% if formulario and formulario['valor'] %}value="{{formulario['valor']}}"{% endif %}/>
	{% if erros and erros['valor'] %}
	Preenchimento obrigatório
	{% endif %}
	</p>
	<button type="submit">Criar</button>
</form>
</body>
</html>