<html>
<body>
<h1>Pessoas</h1>
<ol start="0">
{% for pessoa in pessoas %}
	{% if pessoa.obter_identificador() >= 0 %}
	<li><a href="/pessoas/{{ pessoa.obter_identificador() }}">{{ pessoa.obter_nome() }}</a></li>
	{% endif %}
{% endfor %}
</ol>

<h2>Nova pessoa:</h2>
<form method="POST" action="/pessoas">
	<p>Nome: <input type="text" name="nome" {% if formulario and formulario['nome'] %}value="{{formulario['nome']}}"{% endif %}/></p>
	{% if erros and erros['nome'] %}
	Preenchimento obrigatório
	{% endif %}
	<button type="submit">Criar</button>
</form>
</body>
</html>