<html>
<body>
<h1>{{ pessoa.obter_nome() }}</h1>
<h2><a href="/pessoas/{{pessoa.obter_identificador()}}/contatos">Contatos</a></h2>
<h3><a href="/pessoas">Pessoas</a></h3>
<br>
<form method="POST" action="/pessoas/{{ pessoa.obter_identificador() }}?_method=put">
	<p>Nome: <input type="text" name="nome" value="{{ pessoa.obter_nome() }}"/></p>
	{% if erros and erros['nome'] %}
	Preenchimento obrigatório
	{% endif %}
	</p>
	<button type="submit">Atualizar</button>
</form>
<form method="POST" action="/pessoas/{{ pessoa.obter_identificador() }}?_method=delete">
<button type="submit">Remover</button>
</form>
</body>
</html>